<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Background</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/styles.css">

</head>

<body>
    <h1> This is my backgrounds. </h1>
    <nav>

        <a href="/">Home Page</a>
        <a href="/about">About</a>
        <a href="/background">Background</a>
        <a href="/drones">Games</a>
    </nav>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
</body>

</html>